.filter_select {
  padding-bottom: 2rem;
}

.wrapper_cards {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fill, 17rem);
  justify-content: center;
  margin-top: 1rem;

  @media #{$device-g-md} {
    justify-content: initial;
  }

  .card {
    cursor: pointer;
    position: relative;
    border-radius: .2rem;
    padding-top: 1.5rem;
    box-shadow: 1px 0px 6px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: .5s ease;

    &:hover {
      transform: translateY(-9px);
    }

    &.-inactive {
      display: none;
    }

    &_icon {
      display: flex;
      justify-content: center;
      color: $base-color;
      font-size: 3rem;
    }

    &_title {
      padding: 0 1rem;
      margin-top: 1rem;

      display: flex;
      justify-content: center;

      h3 {
        font-size: 1.3rem;
        font-weight: 600;
      }
    }

    &_description {
      padding: 1rem 2rem;
      margin-top: 1rem;
      padding-bottom: 5rem;
      text-align: center;
      color: #484848;
    }

    &_more {
      background: $gradient-color;
      height: 4rem;
      padding: 0 2rem;

      display: flex;
      justify-content: space-between;
      align-items: center;

      position: absolute;
      bottom: 0;
      width: 100%;

      .more_price {
        color: white;
        font-size: 1.3rem;
        font-weight: 600;
      }
    }

    &[data-eventtype="lancamento"] {
      &:after {
        content: 'new';

        color: white;
        text-align: center;
        font-weight: 600;

        width: 2.520rem;
        height: 2rem;
        top: 0;
        right: 1rem;

        position: absolute;
        box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.6);
        background-color: $new-color;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }

      &:before {
        content: '';
        position: absolute;

        width: 0;
        height: 0;
        border-left: 1.1rem solid transparent;
        border-right: 1.1rem solid transparent;
        border-top: 1.2rem solid $new-color;

        filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.6));
        left: 13.5rem;
        top: 1.5rem;
      }
    }
  }
}