header {
  position: fixed;
  width: 100%;
  z-index: 90;
  
  // Bootstrap
  .bg-info {
    background-color: #fff !important;
    box-shadow: 0px 2px 3px rgba(128, 128, 128, 0.2) !important;
  }

  .navbar-toggler {
    background-color: $base-color;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
  }

  .header_link {
    font-size: 1.3rem;
    padding-right: 1rem;
    font-weight: 600;
    color: black;
  }

  .router-link-active {
    color: $base-color !important;
  }
}