$base-color: #ec6719;
$gradient-color: linear-gradient(to right, #ff8f3f 0%, #ec6719 100%);
$gradient-hover: linear-gradient(to right, #ec6719 0%, #ff8f3f 100%);
$text-color: #4a4a4a;
$new-color: #961111;

//*~ BreakPoints
$device-g-md: "only screen and (min-width: 800px)";